<!doctype html>
<html lang="en">
  <head>
    <title>Stock & Options Ticker App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  
    <div class="container">

      <!-- FLASH MESSAGES - BEGIN  -->
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message }}</strong> 
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- FLASH MESSAGES - END  -->

       
    </div>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('index') }}">HOME</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('ticker') }}">STOCK & OPTIONS INFO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users') }}">USER INFO</a>
                </li>
              </ul>
              <ul class="navbar-nav m1-auto mt-2 mt-lg-0">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
      </nav>
      <div class="container">
        <div class="row">

          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </body>
</html>